/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain) */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;

  padding: 0;

  border: 0;

  font-size: 100%;

  font: inherit;

  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";

  content: none;
}

table {
  border-collapse: collapse;

  border-spacing: 0;
}


/*************************************/
/* MAIN CSS */

:root {
  --blue: #4e598c;
  --white: #ffffff;
  --yellow: #f9c784;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&family=Quicksand:wght@300;500&display=swap');

body {
  font-family: 'Quicksand', sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto auto 8fr;
  grid-template-areas:
    "menu top-nav"
    "menu bottom-nav"
    "menu hero";
}

.icon {
  width: 1.5rem;
}

.icon-lg {
  width: 6rem;
}

.profile-photo {
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
}

.profile-photo-lg {
  border-radius: 50%;
  width: 8rem;
  height: 8rem;
}

/*************************************/
/*NAVIGATION */

.top-nav {
  grid-area: top-nav;
  background-color: rgb(255, 255, 255);

  display: grid;
  grid-template-columns: repeat(2,auto);
  grid-template-rows: 4rem;
  align-items: center;

  margin: 1rem 0;
}

.search-field {
  background-color: rgb(222, 222, 222);
  width: 35rem;
  height: 2.5rem;
  border-radius: 25px;
}

.search {
  margin-left: 2rem;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
  align-items: center;
}

.nav-profile-info {
  justify-self: end;

  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items: center;
  justify-content: center;
  gap: 1rem;

  margin-right: 30px;

}

.nav-profile-name {
  font-weight: bold;
  font-size: 1rem;
  color: rgb(58, 56, 56);
}

.nav-profile-photo {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.bottom-nav {
  grid-area: bottom-nav;
  background-color: rgb(253, 220, 59);
}

/*************************************/
/* SIDEBAR-MENU */

.menu {
  grid-area: menu;
  background-color: #4e598c;

  display: grid;
  grid-template-columns: 20rem;
  grid-template-rows: auto 1fr;
  gap: 2rem;
}

.dashboard-header {
  display: flex;
  align-items: center;
}

.dashboard-header > div {
  color: white;
  font-weight: bold;
  font-size: 2.3rem;
}

.menu ul {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fit, 60px);
  align-items: center;

  margin-left: 1.5rem;
}

.menu li {
    font-family: 'Nunito', sans-serif;
    color: white;
    font-size: 1.5rem;
    font-weight: 400;

    display: grid;
    grid-template-columns: auto 1fr;
    justify-items: start;
    align-items: center;
    gap: 1rem;
}



/*************************************/
/* HERO SECTION */

.hero-section {
  grid-area: hero;
  background-color: rgb(188, 246, 206);
}

.card {
  border: 1px solid grey;
  width: 400px;
  height: 250px;
}
