/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain) */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;

  padding: 0;

  border: 0;

  font-size: 100%;

  font: inherit;

  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";

  content: none;
}

table {
  border-collapse: collapse;

  border-spacing: 0;
}

/*************************************/
/* MAIN CSS */

@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Square+Peg&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Babylonica&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

:root {
  --blue: #4e598c;
  --white: #ffffff;
  --yellow: #f9c784;
  --grey: #e4e6f0;
  --dark-grey: #66676a;
  --font-1: "Raleway", sans-serif;
  --font-2: "Square Peg", cursive;
  --font-3: "Babylonica", cursive;
  --font-4: "Roboto Mono", monospace;
  --right-side: calc(100vw - 320px);
}

body {
  font-family: var(--font-4);
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: 320px 4fr;
  grid-template-rows: auto auto fit-content(70vh);
  grid-template-areas:
    "menu top-nav"
    "menu bottom-nav"
    "menu hero";

    height: fit-content(100vh);
}



.icon {
  width: 1.5rem;
}

.icon-lg {
  width: 6rem;
  transform: rotate(180deg);
}

/*************************************/
/*NAVIGATION */

.top-nav {
  grid-area: top-nav;
  background-color: var(--white);
 

  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: auto;
  align-items: center;

  margin: 1rem 0;
}

.search-field {
  background-color: var(--grey);
  width: 35rem;
  height: 2.5rem;
  border-radius: 25px;
}

.search {
  margin-left: 2rem;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
  align-items: center;
}

.nav-profile-info {
  justify-self: end;

  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items: center;
  gap: 1rem;

  margin-right: 30px;
}

.nav-profile-name {
  font-size: 1rem;
  font-weight: bold;
  color: rgb(58, 56, 56);
}

.nav-profile-photo {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.bottom-nav {
  grid-area: bottom-nav;
  background-color: var(--white);

  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: auto;
  align-items: center;

  padding: 0rem 2rem 0.5rem 2rem;

  /* box-shadow: rgba(155, 155, 155, 0.45) 0px 25px 20px -20px; */

  box-shadow: 0px 15px 10px -15px rgba(155, 155, 155, 0.45); 
  margin-bottom: 2px;
}

.profile-photo-lg {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

.greeting {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.greeting div:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.greet-msg {
  font-size: 1rem;
}

.profile-name-main {
  font-size: 1.5rem;
  font-weight: bold;
}

div.buttons {
  display: flex;
  justify-content: end;
  gap: 1rem;
}

.buttons button {
  background-color: var(--blue);
  font-family: inherit;
  font-size: 1rem;
  font-weight: bold;
  color: var(--white);
  border-radius: 20px;
  border-style: none;

  width: 5rem;
  padding: 0.5rem;
}

/*************************************/
/* SIDEBAR-MENU */

.menu {
  grid-area: menu;
  background-color: var(--blue);
  width: 320px;

  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr;
  gap: 2rem;
}

.dashboard-header {
  display: flex;
  align-items: center;
}

.dashboard-header > div {
  color: white;
  font-weight: bold;
  font-size: 2.3rem;
}

.menu ul {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fit, 60px);
  align-items: center;

  margin-left: 1.5rem;
}

.menu li {
  color: white;
  font-size: 1.5rem;
  font-weight: 400;

  display: grid;
  grid-template-columns: auto 1fr;
  justify-items: start;
  align-items: center;
  gap: 1rem;
}

/*************************************/
/* HERO SECTION */

.hero-section {
  grid-area: hero;
  background-color: var(--grey);

  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
  padding: 0.5rem 0 3rem 2rem;

  /* height: fit-content(100vh) */
}

.hero-title {
  font-size: 1.5rem;
  font-weight: bold;
  align-self: end;
  margin-bottom: -1rem;;
  margin-right: -2rem;
}
.cards {
  display: grid;
  grid-template-columns: repeat(2, minmax(315px,500px));
  grid-template-rows: 5vh repeat(3, minmax(120px,auto));
  grid-template-areas: "title title";
  gap: 2rem;
  margin-right: -4rem;
}

div.cards > div:first-child {
  grid-area: title;
}

.card {
  justify-self: center;

  border-left: 12px solid #f9c784;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  background-color: var(--white);
  padding: 2rem 0.5rem 1rem 0.5rem;
  

  display: grid;
  grid-template-columns: 1fr;
  /* grid-template-rows: 1fr minmax(84px,140px) 1fr; */
  grid-template-rows: 1fr clamp(84px, 10vh,140px) 1fr;
  gap: 0.5rem;
  justify-items: start;
}

.card div {
  padding: 0 1rem;
}

.card-title {
  font-size: 1.1rem;
  font-weight: bold;

  align-self: end;
}

.card-content {
  font-size: 0.9rem;
  color: var(--dark-grey);
}

.card-icons {
  justify-self: end;
  align-self: end;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.2rem;
}

.right-side-hero {
  display: grid;
  grid-template-rows: 5vh auto 5vh auto;
  gap: 2rem;

  justify-self: center;
}

.announcements {
  display: grid;
  gap: 0.5rem;
}

.announcements-cards {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  background-color: var(--white);
  padding: 1rem 1.5rem;

  display: grid;
  gap: 1rem;
  grid-template-rows: repeat(3, 1fr);
  max-width: 220px;
}

.announcement-card {
  border-bottom: 1px solid var(--grey);
}

.announcement-card:last-child {
  border-bottom: none;
}

.announcement-title {
  font-weight: bold;
}

.announcement-content {
  color: var(--dark-grey);
  font-size: 0.8rem;
  padding-bottom: 1rem ;
  /* padding: 1rem; */
}

.trending-container {
  border-radius: 10px;
  max-width: 220px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  background-color: var(--white);
  padding: 1rem 1.5rem;

  display: grid;
  grid-template-rows: repeat(4, 80px);
}

.trending-card {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(2, 1fr);
}

.profile-photo {
  grid-column: 1 / span 1;
  grid-row: 1 / span 2;

  align-self: center;
  justify-self: center;

  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
}

.user-name {
  align-self: end;
  font-weight: bold;
}

.project-name {
  justify-self: start;
  color: var(--dark-grey);
}
