/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain) */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;

  padding: 0;

  border: 0;

  font-size: 100%;

  font: inherit;

  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/*************************************/
/* MAIN CSS */

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Palette+Mosaic&family=Red+Hat+Mono&family=Rubik+Moonrocks&display=swap");

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";

  content: none;
}

table {
  border-collapse: collapse;

  border-spacing: 0;
}

body {
  background-color: antiquewhite;
}

.container {
  width: 100%;
  height: 100vh;

  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 1fr 8fr;
  grid-template-areas:
    "menu top-nav"
    "menu bottom-nav"
    "menu hero";
}

.top-nav {
  grid-area: top-nav;
  background-color: rgb(152, 116, 185);
}

.bottom-nav {
  grid-area: bottom-nav;
  background-color: rgb(253, 220, 59);
}

.menu {
  grid-area: menu;
  background-color: rgb(249, 123, 123);

  display: grid;
  grid-template-columns: 400px;
  grid-template-rows: 100px 1fr;
  gap: 2rem;
}

.dashboard-header {
  display: flex;
  align-items: center;
}

.dashboard-header > div {
  color: white;
  font-weight: solid;
  font-size: 3rem;
  font-family: 'Red Hat Mono', monospace;
}

.menu ul {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(9, 60px);
}

.hero-section {
  grid-area: hero;
  background-color: rgb(188, 246, 206);
}

.icon {
  width: 2rem;
}

.icon-lg {
  width: 6rem;
}

.profile-photo {
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
}

.profile-photo-lg {
  border-radius: 50%;
  width: 8rem;
  height: 8rem;
}

.card {
  border: 1px solid grey;
  width: 400px;
  height: 250px;
}
